[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[packages]
gitpython = "*"
python-ndn = {editable = true,git = "ssh://git@github.com/zjkmxy/python-ndn",ref = "schema"}
python-dotenv = "*"

[requires]
python_version = "3.8"

[scripts]
tlv_to_json = "python bin/tlv_to_json.py"
encode_json = "python bin/encode_json.py"
